<style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem;
  }
</style>

<nav class="container-fluid navbar navbar-expand-md bg-body-light sticky-top border-bottom">
  <div class="container-fluid bg-white rounded-3 ">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button
      class="navbar-toggler fa fa-bars fa-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
              <!-- search -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destination" name="search">
          <button class="btn search-btn" type="submit" value="search"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your Home</a>
        <% if(!currentUser){ %>
        <a class="nav-link" href="/signup">SignUp</a>
        <a class="nav-link" href="/login">Login</a>
        <% } %> <% if(currentUser) {%>
        <a class="nav-link" href="/logout">LogOut</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
