<% layout('/layouts/boilerplate') -%>

<div class="row mt-5 ">
    <div class="col-md-8 offset-md-2 offset-lg-3 col-lg-6">
        <h3 class="mb-3"><span class="fs-1 text-primary text-opacity-75">Create</span> New password.</h3>
        <form action="/user/resetPassword/<%= token %>" method="POST" class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input name="password" type="password" class="form-control" id="password" required>
                <div class="valid-feedback">looks good!</div>
            </div>

            <div class="mb-3">
                <label for="confirm" class="form-label">Confirm New Password</label>
                <input name="confirm" type="password" class="form-control" id="confirm" required>
                <div class="valid-feedback">looks good!</div>
            </div>
            
            <button class="btn btn-primary rounded-pill px-3">Reset Password</button>
            <!-- <a class="offset-lg-8" href="/user/forgotPassword">Forgot Password.</a> -->
        </form>
    </div>
</div>